{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "components": "./components",
          "lib": "./lib",
          "pages": "./pages",
          "types": "./types"
        }
      }
    ]
  ]
}